<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black  mb-3" id="total-orders">
                <div class="card-header">
                    <a class="card-title" href="{% url 'packages' %}">Total Orders</a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_orders}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-Black  mb-3" id="orders-delivered">
                <div class="card-header">
                    <a class="card-title" href="{% url 'pending' %}">Orders Pending</a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending_num}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-Black  mb-3" id="orders-pending">
                <div class="card-header">
                    <a class="card-title">Orders Completed</a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{completed_num}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>