{% extends 'accounts/main.html' %}
{% block content %}
{% if Info %}
{% for request in Info %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Package</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Tracking Number</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <td>{{trackingNumber}}</td>
                    <td>{{request.status}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
{% endfor %}
{% else %}
<p style="margin-top:10%; font-size:30px; color:#020202;text-align:center;">No Tracking Number "{{trackingNumber}}" Info
    here!<a style="position:relative;left:20px;" class="btn btn-secondary btn-sm mt-1 mb-1" href="{%url 'home'%}">Back to
        homepage</a></p>
{% endif %}
{% endblock %}